# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments
.venv/
venv/


# Ignore Django migrations
**/migrations/
*.sqlite3

# VSCode settings (optional)
.vscode/


# OS-specific
.DS_Store
Thumbs.db 